@import '../../styles/common';
@import '../../styles/variables';

.order {
  display: flex;
  flex-direction: row;
  height: 100vh;

  .orderInfoContainer {
    width: 70%;
    background-color: rgb(246, 245, 232);

    .orderUserInfoBox {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      padding: 100px 300px 150px 300px;

      .orderHead {
        margin-bottom: 100px;
        font-size: 36px;
        font-weight: 300;
      }
      .orderUserInfoInputContainer {
        display: flex;
        flex-direction: column;
        justify-content: center;

        .orderUserInfoInputBox {
          margin-bottom: 10px;
          color: $buttonTextDefault;
          font-weight: 300;

          input {
            width: 500px;
            height: 36px;
            padding: 36px 0px;
            border: none;
            border-bottom: 1px solid rgba(0, 0, 0, 0.265);
            background-color: rgb(246, 245, 232);
            color: $buttonTextDefault;
            font-size: 28px;
          }
        }
      }
    }
  }
  .orderSummary {
    width: 30%;
    padding: 100px;
    background-color: rgb(235, 234, 222);

    .orderPriceOverview {
      display: flex;
      flex-direction: column;
      margin-bottom: 20px;
      border: none;
      border-bottom: 1px solid rgba(0, 0, 0, 0.2);
      color: $buttonTextDefault;

      .price {
        display: flex;
        justify-content: space-between;
        padding-bottom: 20px;
      }
    }
    .totalPrice {
      display: flex;
      justify-content: space-between;
      padding-bottom: 20px;
      border: none;
      border-bottom: 1px solid rgba(0, 0, 0, 0.2);
    }
    .orderButtonBox {
      display: flex;
      padding: 20%;

      .orderButton {
        width: 300px;
        height: 80px;
        border: none;
        border-radius: 10px;
        background-color: $buttonTextDefault;
        color: $mainBackground;
        font-size: 16px;
        &:hover {
          background-color: $buttonHover;
          cursor: pointer;
        }
      }
    }
  }
}
