@import '../../styles/common';
@import '../../styles/variables';

.order {
  display: flex;
  flex-direction: row;
  height: 100vh;

  .orderInfoContainer {
    width: 65%;
    background-color: rgb(246, 245, 232);

    .orderUserInfoBox {
      @include displayFlex(center, center);
      flex-direction: column;
      padding: 100px 300px 0px 300px;

      .orderUserInfo {
        @include displayFlex(center, center);
        flex-direction: column;
        margin-bottom: 5%;
        color: $buttonTextDefault;
        font-weight: 400;
        line-height: 30px;

        .orderUserInfoUserName {
          font-size: 30px;
          line-height: 50px;
        }
        .orderUserInfoUserEmail {
          font-size: 24px;
          line-height: 50px;
        }
      }
    }

    .orderHead {
      margin-bottom: 50px;
      font-size: 36px;
      font-weight: 300;
    }
    .orderUserInfoInputContainer {
      display: flex;
      flex-direction: column;
      justify-content: center;
      font-size: 20px;
      line-height: 30px;

      .orderUserInfoInputBox {
        padding-bottom: 30px;
        color: $buttonTextDefault;
        font-weight: 300;

        .orderUserInputHelpText {
          color: rgba(255, 0, 0, 0.689);
          font-size: 16px;
        }
        .orderUserInput {
          width: 500px;
          height: 36px;
          padding: 36px 0px;
          border: none;
          border-bottom: 1px solid rgba(0, 0, 0, 0.265);
          background-color: rgb(246, 245, 232);
          color: $buttonTextDefault;
          font-size: 28px;
        }
      }
    }
  }
}
.orderSummary {
  width: 35%;
  padding: 100px 100px;
  background-color: rgb(235, 234, 222);
  color: $buttonTextDefault;
  font-size: 20px;
  line-height: 30px;
  .orderHead {
    display: flex;
    justify-content: center;
    margin-bottom: 50px;
    font-size: 36px;
    font-weight: 300;
  }
  .orderSummaryProductList {
    margin-bottom: 5%;
    border: none;
    border-bottom: 1px solid rgba(0, 0, 0, 0.202);
    .orderSummaryProduct {
      display: flex;
      justify-content: space-between;
    }
    .orderSummaryProductPrice {
      display: flex;
      justify-content: right;
    }
  }
  .orderSummaryTotal {
    padding-top: 10%;
    border: none;
    border-bottom: 1px solid rgba(0, 0, 0, 0.262);
    .orderSummaryPoint {
      display: flex;
      justify-content: space-between;
    }
    .orderSummaryTotalPrice {
      display: flex;
      justify-content: space-between;
      margin-top: 10%;
      font-size: 24px;
    }
  }
}
.orderButtonBox {
  display: flex;
  padding: 20%;

  .orderButton {
    width: 300px;
    height: 80px;
    border: none;
    border-radius: 10px;
    background-color: $buttonTextDefault;
    color: $mainBackground;
    font-size: 16px;
    &:hover {
      background-color: $buttonHover;
      cursor: pointer;
    }
  }
}
