@import '../../styles/variables';

.orderView {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  height: 100vh;
  background-color: #f6f5e8;
  color: &buttonTextDefault;

  .orderViewSuccessBox {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 80%;
    height: 30vh;
    margin-top: 70px;
    border: none;
    border-top: 1px solid rgba(0, 0, 0, 0.2);
    border-bottom: 1px solid rgba(0, 0, 0, 0.2);
    line-height: 50px;

    .orderViewSuccessBoxHead {
      margin: 20px 0px;
      font-size: 36px;
    }
    .orderViewSuccessNumber {
      font-size: 24px;
    }
    .orderViewSuccessDate {
      font-size: 24px;
    }
  }
  .orderViewInfoContainer {
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 60vh;
    padding-top: 5%;

    .orderViewUserInfoHead {
      @include displayFlex(center, center);
      font-size: 30px;
    }
    .orderViewUserInfo {
      width: 50%;
      height: 35vh;
      border: none;
      border-right: 1px solid rgba(0, 0, 0, 0.2);

      .orderViewUserInfoHead {
      }
      .orderViewUserInfoContents {
        margin: 10% 20%;
        font-size: 20px;
        line-height: 40px;
      }
    }
    .orderViewOrderInfo {
      width: 50%;

      .orderViewOrderInfoHead {
        @include displayFlex(center, center);
        font-size: 30px;
      }
      .orderViewOrderInfoContents {
        display: flex;
        flex-direction: column;
        align-content: space-between;
        margin: 10% 20%;
        font-size: 24px;
        line-height: 40px;

        .orderViewOrderInfoContentsDetailBox {
          margin-top: 10%;
          border: none;
          border-bottom: 1px solid rgba(0, 0, 0, 0.5);
          .orderViewOrderInfoContentsDetail {
            display: flex;
            justify-content: space-between;
          }
        }
        .orderViewOrderShipInfo {
          display: flex;
          justify-content: space-between;
          font-size: 18px;
        }
      }
      .orderViewPoint {
        display: flex;
        justify-content: space-between;
        font-size: 18px;
      }
    }
  }

  .orderViewButton {
    width: 150px;
    height: 50px;
    margin-bottom: 20px;
    border: none;
    border-radius: 10px;
    background-color: $buttonTextDefault;
    color: $mainBackground;
    font-size: 16px;
    &:hover {
      background-color: $buttonHover;
      cursor: pointer;
    }
  }
}
