@import '../../styles/variables';

.productList {
  color: $buttonTextDefault;

  .titleFloral {
    margin: 70px 40px 0 40px;
    color: #353535;
    font-size: 30px;
    font-weight: normal;
  }

  .selectBoxWrap {
    @include displayFlex(flex-end, null);

    .selectBox {
      height: 30px;
      border: none;
      background-color: $mainBackground;
      color: $buttonTextDefault;
      font-weight: 300;
      text-align: center;

      &:hover {
        background-color: #ebeade;
        cursor: pointer;
      }
    }

    .filterButton {
      width: 80px;
      height: 30px;
      border: none;
      background-color: $mainBackground;
      color: $buttonTextDefault;
      font-weight: 300;
      text-align: center;

      &:hover {
        background-color: #ebeade;
        cursor: pointer;
      }
    }
  }

  .buttonWrap {
    display: grid;
    grid-template-columns: repeat(2, 1fr);

    .button {
      height: 90px;
      border: none;
      background-color: #ebeade;
      color: $buttonTextDefault;
      font-size: 17px;
      font-weight: 300;

      &:hover {
        background-color: #e4e3d9;
        cursor: pointer;
      }
    }
  }

  .productListWrap {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 600px);
    background-color: #f6f5e7;

    .productComment {
      @include displayFlex(center, center);
      flex-direction: column;
      padding: 40px;

      .productExplainTitle {
        margin-bottom: 30px;
        font-size: 35px;
        font-weight: 300;
      }

      .productExplain {
        font-size: 18px;
        font-weight: 300;
      }
    }

    .productWrap {
      @include displayFlex(space-between, center);
      flex-direction: column;

      &:hover {
        background-color: #f0efe0;
      }

      .productInfo {
        @include displayFlex(center, center);
        flex-direction: column;
        margin: auto;

        .teaBagImg {
          width: 80%;
          margin-bottom: 20px;
        }
        .teaName {
          margin-bottom: 20px;
          font-weight: 300;
        }

        .teaScent {
          margin-bottom: 20px;
          font-weight: 300;
        }

        .teaAmount {
          font-weight: 300;
        }
      }

      .addCartButton {
        width: 100%;
        height: 60px;
        border: none;
        background-color: #333333;
        color: $mainBackground;

        &:hover {
          background-color: #222222;
          cursor: pointer;
        }
      }
    }
  }
}
