* {
  box-sizing: border-box;
  font-family: 'Noto Sans KR', sans-serif;
}

body {
  background-color: #fffef2;
}

a {
  all: unset;

  &:hover {
    cursor: pointer;
  }
}
* {
  font-family: 'Noto Sans KR', sans-serif;
}
