@mixin displayFlex($justifyContent, $alignItems) {
  display: flex;
  align-items: $alignItems;
  justify-content: $justifyContent;
}

$mainBackground: #fffef2;
$buttonTextDefault: #333333;
$buttonHover: #222222;
