@import '../../styles/variables';
.loginScreen {
  display: flex;
  flex-direction: column;
  width: 45%;
  height: 100vh;

  background-color: $mainBackground;

  .loginWrapper {
    width: 80%;
    margin-top: 38px;
    margin-left: 30px;
    .login {
      margin-top: 10px;
      font-size: 30px;
    }

    .loginEmail {
      width: 100%;
      height: 36px;
      margin-top: 67px;

      border-top-width: 0;
      border-right-width: 0;
      border-bottom-width: 1;
      border-left-width: 0;

      background: transparent;
      &::placeholder {
        font-size: 25px;
      }
    }
    .nonfalse {
      display: none;
    }
    .false {
      display: block;
      color: red;
    }
    .pwWrapper {
      position: relative;

      .loginPw {
        width: 100%;
        height: 36px;
        margin-top: 75px;
        border-top-width: 0;
        border-right-width: 0;
        border-bottom-width: 1;
        border-left-width: 0;
        background: transparent;
        &::placeholder {
          font-size: 25px;
        }
      }
      .see {
        position: absolute;
        top: 10px;
        top: 81px;
        right: 1px;
        border: none;
        background: transparent;
        cursor: pointer;
      }
    }
    .pwReset {
      display: block;
      margin-top: 10px;
      border: none;
      background: transparent;
    }
    .pwResetWrapper {
      display: flex;
      justify-content: flex-end;
    }
    .loginBtnWrapper {
      width: 100%;
      .loginBtn {
        width: inherit;
        height: 51px;
        margin-top: 14px;
        border: none;
        background-color: $buttonTextDefault;
        color: #f6f5e8;
        cursor: pointer;
        &:hover {
          background-color: #000;
        }
      }
    }
    .rUOurMember {
      width: 100%;
      .uMember {
        margin-top: 30px;

        font-size: 40px;
        font-weight: 300;

        // .uOurMem {
        //   width: inherit;
        //   border: 1px solid black;
        // }
      }
    }
  }

  // .signInBtn {
  //   width: inherit;
  //   height: 46px;
  //   margin-top: 26px;
  //   border: none;
  //   border: 1px solid rgba(51, 51, 51, 0.2);
  //   background: transparent;
  //   cursor: pointer;
  // }
}
