// @import '../../styles/variables';
// .container {
//   position: absolute;
//   //최상단 위치
//   z-index: 999;
//   top: 50%;
//   left: 50%;
//   //모달창 크기
//   width: 300px;
//   height: 200px;
//   //translate 는 본인의 크기 기준으로 작동한다.
//   transform: translate(-50%, -50%);
//   border: 1px solid black;
//   background-color: $mainBackground;
// }
.close {
  position: absolute;
  top: 10px;
  right: 10px;
}
